################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/DonkeyKong/v15/Browse.VC.opendb
/.vs/DonkeyKong/v15/Browse.VC.db
